@import 'fontawesome/scss/font-awesome';

// colors
$danger: #ff0500;
$danger-hover: darken($danger, 10%);
$danger-disabled: lighten($danger, 25%);

$safe: #4caf50;
$safe-hover: darken($safe, 10%);
$safe-disabled: lighten($safe, 25%);

$normal: #33c3f0;

$white: #fff;

$message: #43ac6a;

$alert: #f08a24;
$alert-hover: darken($alert, 10%);
$alert-disabled: lighten($alert, 25%);
$error: #f04124;
$info: #a0d3e8;

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica ,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

th {
  text-transform: uppercase;
}

body,
html {
  // height: 100%;
}

// nav {
//   color: #eee;
//   font-size: 1.1rem;
//   font-weight: bold;
//   letter-spacing: 0.2rem;
//   padding: 0 10px 0 0;
//   text-transform: uppercase;
// }
//
// .nav {
//   background: #333;
//   bottom: 0px;
//   list-style-type: none;
//   margin-bottom: 0;
//   padding-top: 20px;
//   position: fixed;
//   top: 0px;
//   width: 13.3333%;
// }
//
// .nav > li {
//   padding: 0;
//   margin: 0;
// }
//
// .nav a {
//   color: $white;
//   display: block;
//   padding: 5px 0 5px 20px;
// }
//
// .nav a:hover {
//   color: $normal;
// }
//
//
// .container {
//   width: 100%;
//   max-width: 100%;
// }
//
// .columns {
//   margin-left: 2%;
// }

.content {
  margin-top: 50px;
}

.u-full-height {
  height: auto;
  min-height: 100%;
}

.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
}

.message,
.success {
  background-color: $message;
  color: $white;
}

.alert {
  background-color: $alert;
  color: $white;
}

.error {
  background-color: $error;
  color: $white;
}

.info {
  background-color: $info;
  color: $white;
}

textarea {
  height: 200px;
}

.text-align-right {
  text-align: right;
}


.columns.center,
.columns.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

textarea.code {
  font-family: 'Lucida Console', 'Courier New', 'Courier';
}

.u-inline {
  display: inline-block;
}

.default {
  color: $safe;
}

input.field-has-error,
textarea.field-has-error {
  border: 1px solid $error;
  margin: 0;
}

.field-message {
  color: $error;
  display: block;
  margin: .3rem 0 1.5rem;
}

.page-actions {
  margin-top: 13px;
}

.group:before,
.group:after {
  content: ' ';
  display: table;
}

.group:after {
  clear: both;
}

.group {
  *zoom: 1;
}

.summoner-list-component .button {
  margin-left: 1rem;
  margin-top: 13px;
}

button .fa {
  line-height: inherit;
}

.spinner {
  display: none;
  font-size: 3rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 300px;
  z-index: 20;
}

.l-sessions {
  margin-top: 60px;
}

.vs {
  color: #ccc;
  font-weight: bold;
}

input.inline,
select.inline {
  margin-left: 12px;
}

@import 'modules/states';
@import 'modules/typography';
@import 'modules/labels';
@import 'modules/buttons';
@import 'modules/alert';
@import 'modules/topbar';
