<div class="row">
    <div class="six columns centered">
        <% form_tag url(:sessions, :login), method: :post do %>
            <%= email_field_tag :email, class: 'u-full-width', placeholder: 'email', autofocus: 'autofocus' %>
            <%= password_field_tag :password, class: 'u-full-width', placeholder: 'password' %>
            <%= submit_tag class: 'button-primary u-full-width', value: 'Login' %>
        <% end %>
    </div>
</div>

