<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="<%= Utils.cdn("/assets/#{Utils.get_asset('frontend', 'css')}") %>">
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <a href="/">
                <img src="<%= Utils.cdn('/assets/frontend/the-hub.png') %>" alt="The Hub">
            </a>
            <div class="search-box">
                <% form_tag '/search' do %>
                    <input type="search" name="summoner" placeholder="Summoner Search">
                <% end %>
            </div>
        </header>
        <div class="page">
            <div class="opacity"></div>
            <div class="row">
                <% if @stats.found? %>
                    <div class="profile clearfix">
                        <div class="small-2 columns">
                            <img class="circle" src="<%= Utils.cdn(Utils.summoner_photo(@stats.summoner)) %>" alt="Profile Player">
                            <% if @stats.league %>
                            <img class="inner-rank-image" src="<%= Utils.cdn("/assets/frontend/#{@stats.league.tier.downcase}-#{@stats.league.entries.first.division.downcase}.png") %>" alt="Division">
                            <% end %>
                        </div>
                        <div class="small-8 columns info">
                            <h1 class="name"><%= @stats.summoner.first_name %> <span class="nickname">"<%= @stats.summoner.nick %>"</span> <%= @stats.summoner.last_name %></h1>
                            <p class="school"><%= @stats.summoner.school.name %></p>
                            <p class="team"><%= @stats.summoner.team.name %></p>
                        </div>
                        <div class="rank small-2 columns">
                            <% if @stats.league %>
                                <img class="rank-image" src="<%= Utils.cdn("/assets/frontend/#{@stats.league.tier.downcase}-#{@stats.league.entries.first.division.downcase}.png") %>" alt="Division">
                                <p><%= @stats.league.name %> <br> <%= @stats.league.tier.capitalize %> Division <%= @stats.league.entries.first.division %></p>
                            <% end %>
                        </div>
                    </div>
                    <div class="stats small-12 columns">
                        <h2 class="uppercase">Stats</h2>
                        <div class="row">
                            <div class="small-8 columns">
                                <table  class="uppercase transparent full-width">
                                    <thead>
                                        <tr>
                                            <th>AVG KDA</th>
                                            <th>AVG Gold</th>
                                            <th>AVG Minions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="kills"><%= @stats[:kills] %></span> /
                                                <span class="deaths"><%= @stats[:deaths] %></span> /
                                                <span class="assists"><%= @stats[:assists] %></span>
                                            </td>
                                            <td><%= Utils.number_to_human(@stats[:gold]) %></td>
                                            <td><%= @stats[:minions] %></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table  class="uppercase transparent full-width">
                                    <thead>
                                        <tr>
                                            <th>Total KDA</th>
                                            <th>Total Gold</th>
                                            <th>Total Minions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="kills"><%= @stats[:tkills] %></span> /
                                                <span class="deaths"><%= @stats[:tdeaths] %></span> /
                                                <span class="assists"><%= @stats[:tassists] %></span>
                                            </td>
                                            <td><span><%= Utils.number_to_human(@stats[:tgold]) %></span></td>
                                            <td><span><%= @stats[:tminions] %></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="small-4 columns">
                                <h3 class="th">Most Used Champions</h3>
                                <% @stats.champion_aggregate.each do |champion, count| %>
                                    <ul class="champion-bar">
                                        <li>
                                            <a href="http://lolbuilder.net/<%= Utils.sanitize(@stats.champions[champion].name) %>">
                                                <img class="champion small circle" src="<%= Utils.cdn("/assets/lol/champion/#{Utils.sanitize(@stats.champions[champion].name)}.png") %>" alt="Champion">
                                            </a>
                                        </li>
                                        <li class="bar">
                                            <span class="bar-fill" style="width: <%= Utils.champion_percent(count, @stats.total_games) %>%;"></span>
                                        </li>
                                        <li><%= Utils.champion_percent(count, @stats.total_games) %>%</li>
                                    </ul>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="small-9 columns end last-matches">
                        <h2 class="uppercase">Last Matches</h2>
                        <table class="matches uppercase transparent full-width">
                            <thead>
                                <tr>
                                    <th class="th-summoner"></th>
                                    <th>K</th>
                                    <th>D</th>
                                    <th>A</th>
                                    <th>Gold</th>
                                    <th>Items</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @stats.games.each do |game| %>
                                    <tr class="bg-<%= Utils.get_match_outcome(game['player']['stats']['win']) %>">
                                        <td>
                                            <a href="http://lolbuilder.net/<%= Utils.sanitize(game['player']['champion_name']) %>">
                                                <img class="champion small circle" src="<%= Utils.cdn("/assets/lol/champion/#{Utils.sanitize(game['player']['champion_name'])}.png") %>" alt="<%= game['player']['champion_name'] %>">
                                            </a>
                                        </td>
                                        <td><%= game['player']['stats']['champions_killed'] || 0 %></td>
                                        <td><%= game['player']['stats']['num_deaths'] || 0 %></td>
                                        <td><%= game['player']['stats']['assists'] || 0 %></td>
                                        <td><%= Utils.number_to_human(game['player']['stats']['gold_earned'] || 0) %></td>
                                        <td>
                                            <% Utils.items_assets(game['player']['stats']) do |asset| %>
                                                <a href="http://lolbuilder.net/item/<%= asset %>">
                                                    <img class="item small circle" src="<%= Utils.cdn("/assets/lol/item/#{asset}.png") %>" alt="Item">
                                                </a>
                                            <% end %>
                                        </td>
                                        <td><%= Utils.to_minutes(game['game']['duration']) %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                <% else %>
                    <div class="not-found text-center">
                        <h1 class="uppercase">Summoner Not Found</h1>
                    </div>
                <% end %>
            </div>
        </div>
        <%= yield %>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script src="http://tooltip.lolbuilder.net/v/0.1.1/release/loltip.min.js"></script>
    </body>
</html>
