// normalize
@import 'foundation/scss/normalize';

// foundation
@import 'foundation';
@import 'foundation/scss/foundation/components/grid';
@import 'foundation/scss/foundation/components/block-grid';
// @import 'foundation/scss/foundation/components/buttons';
@import 'foundation/scss/foundation/components/forms';
// @import 'foundation/scss/foundation/components/labels';
@import 'foundation/scss/foundation/components/tables';
@import 'foundation/scss/foundation/components/type';

$kills: #2ecc40;
$deaths: #ff4136;
$assists: #ffdc00;

html {
  background: url(/assets/frontend/bg-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: rgba(0, 0, 0, .5) repeat;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

.opacity {
  background: rgba(0, 0, 0, .93);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

.page {
  min-height: 100%;
  padding-top: 7rem;
  position: relative;
}

.profile {
  margin-bottom: 2rem;

  .name {
    color: $theme-body-color;
  }

  .nickname {
    color: $theme-header-color;
  }

  .name,
  .team,
  .school {
    margin-bottom: .2rem;
  }

  .team,
  .school {
    font-size: rem-calc(20);
  }

  .rank {
    text-align: center;
  }

  .rank p {
    font-size: rem-calc(14);
  }

  .rank-image {
    width: 90px;
  }
}

.stats {
  .th {
    color: $theme-body-color;
    font-size: rem-calc(14);
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th {
    width: 33%;
  }
}

.champion-bar {
  list-style-type: none;
  margin-left: 0;

  li {
    display: inline-block;
  }

  .bar {
    min-width: 70%;
  }

  .bar-fill {
    background: transparent linear-gradient(to bottom, #FF4136 0%, #7F201B 99%) repeat scroll 0% 0%;
    display: inline-block;
    height: 12px;
  }
}

.matches {
  tr {
    border-bottom: 1px solid #000;
  }

  .bg-win {
    background: rgba(58, 170, 53, .1);
  }

  .bg-lose {
    background: rgba(255, 65, 54, .1);
  }
}

.transparent {
  background: transparent;
  border: 0;

  thead {
    background: transparent;
  }

  th,
  td {
    color: $theme-body-color;
  }
}

.search-box {
  color: #000;
  position: absolute;
  top: 1.6em;
  right: 1.6em;

  input {
    background: #222;
    border: 1px solid #555;
    color: #ccc;
  }

  input:focus {
    background: #333;
    border: 1px solid #666;
  }
}

.not-found {
  margin-top: 20%;
}

.champion.small,
.item.small {
  width: 32px;
}

.full-width {
  width: 100%;
}

.circle {
  border-radius: 50%;
}

.uppercase {
  text-transform: uppercase;
}

.kills {
  color: $kills;
}

.deaths {
  color: $deaths;
}

.assists {
  color: $assists;
}

a.loltip-anchor {
  cursor: default;
  outline: 0;
}

.inner-rank-image {
  display: none;
}

@media #{$small-only} {
  .champion.small,
  .item.small {
    width: 18px;
  }

  .champion-bar .bar {
    display: none;
  }

  .profile {
    .rank {
      display: none;
    }

    .info {
      @include grid-column(10);
    }
  }

  .last-matches {
    @include grid-column(12);
  }

  .matches .cell-items {
    display: none;
  }

  .matches .th-summoner {
    width: 38px;
  }

  .inner-rank-image {
    display: block;
  }
}
