<div class="row">
    <div class="twelve columns">
        <h1>Pesquisa Jogador</h1>
        <% form_tag '/search' do %>
            <%=  text_field_tag :name %>
            <button>Pesquisar</button>
        <% end %>
    </div>
</div>
