.alert-box-container {
    bottom: 10px;
    font-size: 1.3rem;
    position: fixed;
    left: 10px;
}

.alert-box {
    border-radius: 3px;
    list-style-type: none;
    padding: .8rem .8rem .8rem 0;
}

.alert-box > .alert-icon {
    display: block;
    float: left;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
    margin: -.8rem .8rem 0 0;
    padding: 0.8rem 0;
    width: 50px;
}

@each $class, $color in (message, $message), (alert, $alert), (error, $error), (info, $info), (success, $message) {
    .alert-box.#{$class} {
        border: 1px solid darken($color, 10%);
    }

    .fa-#{$class} {
        background: darken($color, 10px);
    }
}

.fa-alert:before {
    content: "\f06a";
}

.fa-message:before,
.fa-success:before {
    content: "\f05a";
}

.fa-error:before {
    content: "\f057";
}

.fa-info:before {
    content: "\f05a";
}

