button.small {
  // line-height: 1;
  // padding: 0;
  height: auto;
  line-height: 3;
  padding: 0 15px;
}


button[disabled=disabled] {
  color: $white;
}

/* danger button */
.button.danger:hover,
.button.error:hover {
  color: $white;
  background-color: $danger-hover;
  border: 1px solid $danger-hover;
}

.button.error {
  border: 1px solid $danger;
  color: $white;
}

.button.danger[disabled],
.button.error[disabled] {
  background-color: $danger-disabled;
  border: 1px solid $danger-disabled;
  color: $white;
}

/* safe button */
.button.safe:hover {
  color: $white;
  background-color: $safe-hover;
  border: 1px solid $safe-hover;
}

.button.safe[disabled] {
  background-color: $safe-disabled;
  border: 1px solid $safe-disabled;
  color: $white;
}

/* alert button */
.button.alert:hover {
  color: $white;
  background-color: $alert-hover;
  border: 1px solid $alert-hover;
}

.button.alert[disabled] {
  background-color: $alert-disabled;
  border: 1px solid $alert-disabled;
  color: $white;
}

button.inline {
  margin-left: 12px;
}
