.label {
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: auto;
  padding: 3px 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
