.active {
  position: relative;
}

.active a:after {
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: ' ';
  border-bottom: 6px solid #fff;
  z-index: 10;
}

.alert,
.clean {
  background-color: $alert;
  border: 1px solid $alert;
  color: $white;
}

.danger,
.offline,
.clean {
  background-color: $danger;
  border: 1px solid $danger;
  color: $white;
}

.normal {
  background-color: $normal;
  border: 1px solid $normal;
}

.safe,
.allocated,
.unallocated,
.onlile {
  background-color: $safe;
  border: 1px solid $safe;
  color: $white;
}

