.top-actions {
  margin-top: 18px;
}

.top-bar {
  background: #333;
  color: #eee;
  font-size: 1.1rem;
  font-weight: bold;
  left: 0;
  letter-spacing: 0.2rem;
  line-height: 2.2;
  padding: 0 10px 0 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10;
}

.top-bar-items {
  margin: 0;
}

.top-bar-items > li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 20px 10px 0;
}

.top-bar-items > li:first-child {
  // padding-left: 0;
}

.top-bar-items > .last {
  padding-right: 0;
}


.top-bar a {
  color: $white;
  position: relative;
}

.top-bar a:hover {
  color: $normal;
}

.top-bar .username {
  color: #888;
}
