<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <%= csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet'>
        <link rel="stylesheet" href="/css/bundle.css">
        <link rel="icon" type="image/png" href="/assets/favicon.png">
        <title>Statsy</title>
    </head>
    <body>
        <div class="spinner"><i class="fa fa-spinner fa-spin"></i></div>
        <nav class="top-bar">
            <div class="container">
                <ul class="top-bar-items">
                    <li class="username">Statsy</li>
                    <li class="<%= active('summoners/verified') %>"><a href="<%= url_for(:summoners, :verified) %>">Verified</a></li>
                    <li class="<%= active('summoners/invalid') %>"><a href="<%= url_for(:summoners, :invalid) %>">Invalid</a></li>
                    <li class="<%= active('matches') %>"><a href="<%= url_for(:matches, :index) %>">Matches</a></li>
                    <li class="u-pull-right last"><a href="<%= url_for(:sessions, :logout) %>">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="container content">
            <%= yield %>
        </div>
    </div>
    <div class="alert-box-container">
        <ul>
            <% flash.each do |type, message| %>
                <li class="alert-box <%= type %>"><i class="alert-icon fa fa-<%= type %>"></i> <%= message %></li>
            <% end %>
        </ul>
    </div>
    <script src="/js/vendor.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
