<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <%= csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet'>
        <link rel="stylesheet" href="/css/bundle.css">
        <title></title>
    </head>
    <body>
        <div class="container l-sessions">
            <%= yield %>
        </div>

        <div class="alert-box-container">
            <ul>
                <% flash.each do |type, message| %>
                    <li class="alert-box <%= type %>"><i class="alert-icon fa fa-<%= type %>"></i> <%= message %></li>
                <% end %>
            </ul>
        </div>

        <script src="/js/vendor.js"></script>
        <script src="/js/bundle.js"></script>
    </body>
</html>
